@use '../../_css/queries.scss' as *;



.searchForm {
  // display: flex;
  align-items: center;
  gap: 10px;


  @include small-break {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.searchInput {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 20rem;
	height: 2.5rem;

  &:focus {
    outline: none;
    border-color: #3c3c3c;
  }

  @include small-break {
    width: 85%;
  }
}

.searchButton {
  // display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; // Remove default padding to center the icon
  width: 2.5rem; // Match input height
  height: 2.5rem; // Match input height
  background-color: #3c3c3cbb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;

  &:hover {
    background-color: #3c3c3c;
  }

  .searchIcon {
    width: 1rem;
    height: 1rem;
  }
}